html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.app-wrapper{
  margin: 0 64px 24px 64px;
}

.pipe {
  color: #F2CA51;
}

h1 {
  font-family: inter;
  font-weight: 900;
  font-size: 40px;
}

p {
  font-family: inter;
  font-weight: 300;
  font-size: 18px;
}

a {
  font-weight: 600;
  color: #2F80ED;
  text-decoration: none;
}

.hero {
  margin: 96px 0 96px 0;
}

.work-header {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.work-header li {
  color: #000;
}

.work-item, .work-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 24px 0 16px;
  background: #fafafa;
  border-radius: 4px;
  width: 100%;
}

.work-header{
  background: #fff;
}

.data-row {
  width: 100%;
}

.work-item ul, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 0;
}

.work-item ul li {
  padding: 22.5px 0;
  vertical-align: middle;
}

.work-item ul li.year, .year-header{
  width: 10%;
}

.work-item ul li.agency, .agency-header{
  width: 20%;
}

.work-item ul li.client, .client-header{
  width: 20%;
}

.work-item ul li.project, .project-header{
  width: 20%;
}

.work-item ul li.role, .role-header{
  width: 20%;
}

.work-item ul li.desc, .desc-header{
  width: 10%;
  text-align: right;
}

.desc-container {
  justify-self: flex-end;
}

.work-section {
  display: block;
  margin-bottom: 208px;
}

.footer p {
  text-align: center;
  font-size: 12px;
}


@media (max-width: 950px) {
 
 .work-item ul li.year, .year-header{
  width: 15%;
}

.work-item ul li.agency, .agency-header{
  display: none;
}

.work-item ul li.client, .client-header{
  width: 25%;
}

.work-item ul li.project, .project-header{
  width: 25%;
}

.work-item ul li.role, .role-header{
  width: 25%;
}

.work-item ul li.desc, .desc-header{
  width: 10%;
  text-align: right;
}
 
}

@media (max-width: 600px) {

  .hero p {
    line-height: 24px;
  }

 .app-wrapper{
  margin: 0 24px 24px 24px;
}

p {
  font-size: 16px;
}
 
 .work-item ul li.year, .year-header{
  width: 20%;
}

.work-item ul li.agency, .agency-header{
  display: none;
}

.work-item ul li.client, .client-header{
  width: 45%;
}

.work-item ul li.project, .project-header{
  display: none;
}

.work-item ul li.role, .role-header{
  width: 35%;
}

.work-item ul li.desc, .desc-header{
  display: none;
}
}
